* {
	margin: 0;
	padding: 0;
}
.mainMenu {
	position: fixed;
	display: flex;
	width: 100%;
	align-items: center;

	background-color: red;
	transition: transform 0.3s ease-in-out;
}
.mainMenu--hidden {
	transform: translateY(-100%);
}
.mainMenu__logo {
	display: block;
	min-width: 70px;
	aspect-ratio: 1;
	margin: 0 auto 0 0;
	background-color: green;
}
.mainMenu__items {
	display: flex;
	gap: 1rem;
	flex-wrap: nowrap;
	list-style: none;
	padding: 0;
	margin: 0;
	transition: transform 0.2s ease-in-out;
}

.mainMenu__items--small {
	position: absolute;
	display: block;
	flex-direction: column;
	background-color: black;
	top: 100%;
	width: 100%;
	left: 100%;
	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;
}
.mainMenu__items--hidden {
	transform: translateX(0%);
}

.mainMenu__items > * {
	width: max-content;
}
.mainMenu__btn {
	background: blue;
	white-space: nowrap;
	border: none;
	min-width: max(48px, max-content);
	min-height: 48px;
	cursor: pointer;
}

.hidden {
	background-color: blue;
	display: none;
}

